<div class="jumbotron">
  <h1>Pomodoro</h1>
  </div>
<div class="row">
  <div class="col-md-4">
    <h1 class="titles">To do</h1>

    <form class="new-task">
      <br><button class="btn btn-primary" type="submit" ng-click="home.newTask()">Add Task</button>
       <input ng-model="home.newTaskMessage" type="text" name="taskInput" value=""><br>
      <br>
    </form>

    <ul>
      <li class="tasks" ng-repeat="task in home.pendingTasks | orderBy: '-id'">{{task.text}} <button class="btn btn-primary" ng-click="home.completeTask(task)">Done</button></li>
    </ul>
  </div>

  <div class="col-md-4">
    <h1>Sessions</h1>
    <p class="session-type">Session Type: {{sessionType}}</p>
    <button class="btn btn-primary" ng-show="!hideStartButton" ng-click= "home.startSession()">Start</button>
    <button class="btn btn-danger" ng-show="hideStartButton" ng-click= "home.stopSession()">Stop</button>
    <button class="btn btn-primary" ng-show="hideStartButton" ng-click="home.resetSession()">Reset</button>
    <h3>Time: {{formattedTime}}</h3>
  </div>
  <div class="col-md-4">
    <h1>Completed Tasks</h1>
    <button class="btn btn-danger" ng-show="home.completedTasks.length != 0" ng-click="home.deleteCompletedTasks()">Delete Completed Tasks</button>
    <ul>
      <li class="tasks" ng-repeat="task in home.completedTasks">{{task.text}}</li>
    </ul>
  </div>
</div>
